.App {
  text-align: center;
}
.logo-div {
  text-align: left;
  margin: 0% -5%
}


.search-bar-div {
  text-align: left;
  margin: 0% -5%
}


body {
  background-color: black;
  font-family: 'Comic Neue', cursive;
  color: rgb(255, 255, 255);
  margin: 1% 15%
}

input {
  font: inherit;
  padding: 6px 12px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 13px;
  color: rgb(247, 248, 248);
  height: 24px;
  width: 300px;
  appearance: none;
  transition: border 0.15s ease 0s;
  :focus{
      outline: none;
      box-shadow: none;
      border-color: rgb(100, 153, 255);
  }

  
}
img {
  margin-bottom: 0%;
  border-radius: 4px;
  object-fit: cover;
}
  

.display-movies-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.movie-name {
  margin-top: 1%;
}

.display-movies-heading {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
}

.clickable-item:hover {
  cursor: pointer;
}


