.App {
  text-align: center;
}
.logo-div {
  text-align: center;
  margin: 0% -5%;
  display: flex;
  flex-direction: row;
}

.logo-div span{
  text-align: center;
  margin-right: 0.25%;
  margin-top: 0.4%;
  font-size: 40px
}


.search-bar-div {
  text-align: center;
  margin: 0% -5%
  
}


body {
  background-color: black;
  font-family: 'Comic Neue', cursive;
  color: rgb(255, 255, 255);
  margin: .5% 15%
}

input {
  font: inherit;
  padding: 6px 12px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 20px;
  color: rgb(247, 248, 248);
  height: 24px;
  width: 500px;
  appearance: none;
  transition: border 0.15s ease 0s;
  :focus{
      outline: none;
      box-shadow: none;
      border-color: rgb(100, 153, 255);
  }
  
  
}

@media (max-width: 1080px) {
  input {
    width: 300px;
  }
}

img {
  margin-bottom: 0%;
  border-radius: 4px;
  object-fit: cover;
}
  

.display-movies-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (max-width: 1080px) {
  .display-movies-div {
    display: grid;
    grid-template-columns: repeat(wrap);
  }
}

.movie-name {
  margin-top: 1%;
}

.display-movies-heading {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
}

.clickable-item:hover {
  cursor: pointer;
}

.movie-poster-div {
  border: 2px solid #373B44;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  display: grid;
  grid-template-columns: 0.5fr 2fr; 
  gap: 10px; 
}

@media (max-width: 1080px) {
  .movie-poster-div {
    grid-template-columns: 1fr;
  }
}

.movie-poster-info-div {
  text-align: left;
  padding-left: 0px;
  
}




/* CSS */
.button-89 {
  --b: 2px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

.movie-tags-container-div {
  display: contents;
  justify-content: flex-start;
}

.movie-tags-container-div h5{
  display: inline-block;
  margin-top: 1px; 
  margin-bottom: 1px; 
  margin-right: 2px; 
  margin-left: 2px; 
  padding: 5px; 
  background: #373B44;
  border-radius: 12px;
}


.about-button-div {
  margin-bottom: 10%;
  margin-top: 5%;
}


.about-strong {
  color: #ff6d38;
  font-size: 27px;
}

.attributions-div {
  text-align: left;
}

.cluster-img-div {
  max-width: 100%;
  height: auto; 
}

.cluster-img-div img {
  max-width: 100%
}

.attributions-div hr {
  height: 1px;
  background-color: rgb(255, 255, 255);
  border: none;
}