.App {
  text-align: center;
}
.logo-div {
  text-align: left;
  margin: 0% -5%;
  display: flex;
  flex-direction: row;
}

.logo-div span{
  margin-right: 0.25%;
  margin-top: 0.4%;
  font-size: 40px
}


.search-bar-div {
  text-align: left;
  margin: 0% -5%
}


body {
  background-color: black;
  font-family: 'Comic Neue', cursive;
  color: rgb(255, 255, 255);
  margin: .5% 15%
}

input {
  font: inherit;
  padding: 6px 12px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 13px;
  color: rgb(247, 248, 248);
  height: 24px;
  width: 300px;
  appearance: none;
  transition: border 0.15s ease 0s;
  :focus{
      outline: none;
      box-shadow: none;
      border-color: rgb(100, 153, 255);
  }

  
}
img {
  margin-bottom: 0%;
  border-radius: 4px;
  object-fit: cover;
}
  

.display-movies-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.movie-name {
  margin-top: 1%;
}

.display-movies-heading {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
}

.clickable-item:hover {
  cursor: pointer;
}

.movie-poster-div {
  display: flex;
  align-items: center;
  border: 2px solid #373B44;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.movie-poster-info-div {
  text-align: left;
  padding-left: 30px;
  
}




/* CSS */
.button-89 {
  --b: 2px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}




